# dependencies
**/node_modules
**/.pnp
**.pnp.js

# Hardhat files
blockchain/cache
blockchain/artifacts

# TypeChain files
blockchain/typechain
blockchain/typechain-types

# solidity-coverage files
**/coverage
**/coverage.json

# production
**/build

# Hardhat Ignition default folder for deployments against a local node
blockchain/ignition/deployments/chain-31337

# misc
**/.DS_Store
**/.env.**

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*